
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}Your Calendar!{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Your TV/Movie calendar." >
  <meta name="author" content=" ... " >

  <link rel="shortcut icon" href="{{ asset('icon.ico') }}">

    {% block stylesheets %}

      <!-- Google Webfonts --->
      <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,100,500" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

			<link rel="stylesheet" type="text/css" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
	    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jquery.qtip.css')}}">

      <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
      <!--<link rel="stylesheet" href="{{ asset('components\normalize-css\normalize.css')}}"> -->
      <!-- Theme Style -->


			<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/require.css') }}">

      <!-- Animate.css --->
      <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/animate.css')}}">
      <!-- Icomoon Icon Fonts-->
      <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/icomoon.css')}}">
      <!-- Magnific Popup -->
      <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/magnific-popup.css')}}">
      <!-- Salvattore -->
      <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/salvattore.css')}}">



      <!-- select2 -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />



      {% endblock %}

      <!-- Modernizr JS -->
      <!-- <script src="asset('assets/js/modernizr-2.6.2.min.js"></script> -->
      	<!-- FOR IE9 below -->
      	<!--[if lt IE 9]>
      	<script src="js/respond.min.js"></script>
      	<![endif]-->

</head>

<body>

  <div id="fh5co-offcanvass">
    <a href="#" class="fh5co-offcanvass-close js-fh5co-offcanvass-close">Menu <i class="icon-cross"></i> </a>
    <h1 class="fh5co-logo"><a class="navbar-brand" href="{{ path('index_webb') }}">Your calendar</a></h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <ul>
          <li class="active"><a href="{{ path('index_webb') }}">Home</a></li>
          <li><a href="{{ path('my-account') }}">My account</a></li>
          <li><a href="{{ path('full-calendar-limit') }}">My calendar</a></li>
          <li><a href="{{ path('my-tvshows') }}">My TV Shows</a></li>
          <li><a href="{{ path('my-movies') }}">My Movies</a></li>
          <li><a href="{{ path('full-calendar') }}">Full calendar</a></li>
					<li><a href="{{ path('all-tvshows') }}">All TV Shows</a></li>
          <li><a href="{{ path('all-movies') }}">All Movies</a></li>
          <li><a href="{{ path('fos_user_security_logout') }}">LogOut</a></li>
        </ul>
        <h3 class="fh5co-lead">Connect with us</h3>
    		<p class="fh5co-social-icons">
    			<a href="https://twitter.com"><i class="icon-twitter"></i></a>
    			<a href="https://facebook.com"><i class="icon-facebook"></i></a>
    			<a href="https://instagram.com"><i class="icon-instagram"></i></a>
    			<a href="https://tumblr.com"><i class="icon-tumblr"></i></a>
    			<a href="https://youtube.com"><i class="icon-youtube"></i></a>
    		</p>

   {% endif %}

   {% if is_granted('IS_AUTHENTICATED_FULLY') == false%}

       <ul>
         <li class="active"><a href="{{ path('index_webb') }}">Home</a></li>
				 <li><a href="{{ path('all-tvshows') }}">All TV Shows</a></li>
				 <li><a href="{{ path('all-movies') }}">All Movies</a></li>
         <li><a href={{ path('fos_user_security_login') }}>Log In</a></li>
         <p></p>
         <li>You don't have your calendar yet?<a href="{{ path('fos_user_registration_register') }}">Sign up :)</a></li>
       </ul>
       <h3 class="fh5co-lead">Connect with us</h3>
       <p class="fh5co-social-icons">
         <a href="https://twitter.com"><i class="icon-twitter"></i></a>
         <a href="https://facebook.com"><i class="icon-facebook"></i></a>
         <a href="https://instagram.com"><i class="icon-instagram"></i></a>
         <a href="https://tumblr.com"><i class="icon-tumblr"></i></a>
         <a href="https://youtube.com"><i class="icon-youtube"></i></a>
       </p>

  {% endif %}

</div>

  <header id="fh5co-header" role="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a href="#" class="fh5co-menu-btn js-fh5co-menu-btn">Menu <i class="icon-menu"></i></a>
          <a class="navbar-brand" href="{{ path('index_webb') }}">Your calendar</a>
        </div>
      </div>
    </div>
  </header>

  <div class="fh5co-spacer-md"></div>

<div id="fh5co-main">
    <div class="container">
      {% block content %}

      {% for message in app.flashes('notice') %}
          <div class="flash-notice">
              {{ message }}
          </div>
      {% endfor %}


      {% endblock %}
  </div>
</div>

    <div class="fh5co-spacer-md"></div>
    <div class="fh5co-spacer-md"></div>
    <div class="fh5co-spacer-md"></div>
    <div class="fh5co-spacer-md"></div>
    <div class="fh5co-spacer-md"></div>
		<div class="fh5co-spacer-md"></div>
		<div class="fh5co-spacer-md"></div>

   <footer id="fh5co-footer">
  		<div class="container">
  			<div class="row row-padded">
  				<div class="col-md-12 text-center">
            <p class="fh5co-social-icons">
        			<a href="https://twitter.com"><i class="icon-twitter"></i></a>
        			<a href="https://facebook.com"><i class="icon-facebook"></i></a>
        			<a href="https://instagram.com"><i class="icon-instagram"></i></a>
        			<a href="https://tumblr.com"><i class="icon-tumblr"></i></a>
        			<a href="https://youtube.com"><i class="icon-youtube"></i></a>
        		</p>
  					<p><small><b> Your calendar </b></small></p>
  				</div>
  			</div>
  		</div>
  	</footer>

    {% block javascripts %}

    <!-- jQuery -->
    <script src="{{ asset('assets/js/jquery.min.js')}}"></script>
    <!-- jQuery Easing -->
    <script src="{{ asset('assets/js/jquery.easing.1.3.js')}}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/js/bootstrap.min.js')}}"></script>
    <!-- Waypoints -->
    <script src="{{ asset('assets/js/jquery.waypoints.min.js')}}"></script>
    <!-- Magnific Popup -->
    <script src="{{ asset('assets/js/jquery.magnific-popup.min.js')}}"></script>
    <!-- Salvattore -->
    <script src="{{ asset('assets/js/salvattore.min.js')}}"></script>
    <!-- Main JS -->
    <script src="{{ asset('assets/js/main.js')}}"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>


    <script type="text/javascript">
     $('select').select2();
    </script>

    <!-- make sure that jquery is included -->
		<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>



		      <!-- <script src="{{ asset('assets/js/jquery-3.2.1.js')}}"></script> -->
		      <script src="{{ asset('assets/js/jquery.qtip.js')}}"></script>
		      <script src="{{ asset('assets/js/jquery-ui.min.js')}}"></script>
		      <script src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
		      <script src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
		      <script src="{{ asset('assets/js/fullcalendar.default-settings.js') }}"></script>
					<script src="{{ asset('assets/js/fullcalendarlimit.js') }}"></script>


    {% endblock %}


</body>
</html>
